html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.square {
    display: flex;
}

.blue{
    height:60px;
    width:60px;
    background-color:blue;
}
.white {
    height: 60px;
    width: 60px;
    background-color: white;
}
.red {
    height: 60px;
    width: 60px;
    background-color: red;
}
.pink {
    height: 60px;
    width: 60px;
    background-color: pink;
}
.yellow {
    height: 60px;
    width: 60px;
    background-color: yellow;
}